.App {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.App-viewport {
    flex: 1 0 auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    color: white;
}

.App-github-banner {
    position: absolute;
    rotate: 90;
    right: 0;
}

.App-header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #383f4b;
    margin-bottom: 10px;
}

.App-header > *:not(:last-child) {
    flex: 1 0 auto;
    margin-left: 10px;
}

.App-header > *:last-child {
    flex: 0 0 auto;
    margin-right: 125px;
}

.App-header > *:last-child > *:not(:first-child) {
    margin-left: 10px;
}

.App-header h2 {
    margin: 0;
}

.App-header p {
    margin-top: 0;
    padding-left: 50px;
    font-style: italic;
}

.App-body {
    flex: 1 0 auto;
    display: flex;
}
