.Play {
    flex: 1 0 1px;
    display: flex;
    flex-direction: row;
}

.Play-stage-outer {
    flex: 1 0 1px;
    display: flex;
    flex-direction: column;
    border: solid 2px red;
    font-size: 0;
    overflow: hidden;
    width: 1px;
}

.Play-stage-inner {
    flex: 1 0 1px;
    font-size: 0;
    overflow: hidden;
    height: 1px;
}

.Play-controls {
    flex: 0 0 250px;
    margin-left: 10px;
    display: flex;
    display: flex;
    flex-direction: column;
}

.Play-controls > * {
    flex: 0 0 auto;
}

.Play-controls-scrolled {
    flex: 1 0 1px;
    overflow-y: auto;
}

.Player-controls-score {
    font-size: 150%;
    margin-bottom: 0;
}

.Player-controls-mines-left {
    font-size: 150%;
    margin-bottom: 0;
}

.Player-controls-power {
    font-size: 150%;
    margin-bottom: 0;
}

.Player-controls-power-buttons {
    margin-top: 10px;
}

.Player-controls-power-buttons > *:not(:first-child) {
    margin-left: 10px;
}

.Player-controls-power-info {
    color: goldenrod;
    margin-top: 10px;
    margin-bottom: 0px;
}

.Play-controls-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Play-controls-buttons > *:not(:first-child) {
    margin-left: 10px;
}

.Player-controls-game-status {
    font-size: 200%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Play-controls-slider {
    display: flex;
    align-items: center;
}

.Play-controls-slider > *:not(:first-child) {
    margin-left: 10px;
}

.Play-controls-slider-input {
    width: 50px;
}

.Play-controls-checkbox {
    display: flex;
    align-items: baseline;
    margin-top: 5px;
}

.Play-controls-checkbox > *:not(:first-child) {
    margin-left: 10px;
}

.Play-controls-instructions {
    margin-top: 10px;
}
