.SelectLevel {
    flex: 1 0 auto;
}

.SelectLevel-saved-game {
    color: skyblue;
}

.SelectLevel-saved-game-header {
    font-style: italic;
}

.SelectLevel-saved-game-buttons {
    display: flex;
    flex-direction: row;
}

.SelectLevel-saved-game-buttons > *:not(:last-child) {
    margin-right: 20px;
}

.SelectLevel-header {
    color: goldenrod;
}

.SelectLevel-groups {
    display: flex;
    flex-direction: row;
}

.SelectLevel-groups > *:not(:first-child) {
    margin-left: 50px;
}

.SelectLevel-grid {
    margin-left: 50px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;
    row-gap: 5px;
    padding: 10px;
}
